{% extends "base.html" %}

{% block content %}
<main id=parties>
<section class=titlecreate>
<h2>Parties</h2>
<form action="/parties/new">
    <input type="submit" value="Create New Party">
</form>
</section>

<section class=gallery>
    {% for party in parties %}

        <section class=box>
            <ul>
                <li><div class=title>Party Name: </div> {{ party.name }}</li>
                <li><div class=title>Next Game: </div> {{ party.next_game }}</li>
            </ul>
            <div class=buttonbox>
                <form action="/parties/{{ party.id }}">
                    <input type="submit" value="View">
                </form>
                <form action="/parties/{{ party.id }}/edit">
                    <input type="submit" value="Edit">
                </form>
            </div>    
        </section>

    {% endfor %}
</section>
</main>
{% endblock %}