{% extends "base.html" %}

{% block content %}


<h2>Parties</h2>
<form action="/parties/new">
    <input type="submit" value="Create New Party">
</form>
{% for party in parties %}

<section>
    <p>Name: {{ party.name }}</p>
    <p>Next Game: {{ party.next_game }}</p>
    <form action="/parties/{{ party.id }}">
        <input type="submit" value="View">
    </form>
    <form action="/parties/{{ party.id }}/edit">
        <input type="submit" value="Edit">
    </form>
</section>

{% endfor %}

{% endblock %}