body {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    background-image: url(/static/images/cave.jpg);
    background-size: cover;
}

a {
    color: aqua;
}

h1 {
    color: fuchsia;
    font-size: 50pt;
    font-family: 'Calligraffitti', cursive;
    margin: 0 10px;
}

h2 {
    color: fuchsia;
    font-size: 40pt;
    margin: 10px;
}

h3 { 
    font-size: 30pt;
    font-style: italic;
    margin: 10px;
}

h4 {
    color: lime;
    font-size: 30pt;
    margin: 10px;
}

.title {
    color: lime;
    grid-area: left;
    justify-self: start;
}

.attribute {
   grid-area: right;  
   justify-self: center;
}

p {
    font-size: 14pt;
}

#playeredit {
    display: flex;
    flex-flow: row wrap;
}

#playeredit > form {
    align-self: center;
    padding: 10px 0 0 10px;    
}

#playeredit > h3 {
    align-self: center;
    background-color: #000000a6;
    padding:5px;    
}

.titlecreate {
    padding: 20px
}
#allcharacters {
    padding: 20px
}

.contacts {
    margin: 0 0 0 10px;
}

.buttonbox > form > input {
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.calendar {
    cursor: text;
}