{% extends "base.html" %}

{% block content %}

<h2>Update Player</h2>
<a href="/players/{{ player.id }}">Go Back</a>
<br>
<br>

<form action="/players/{{ player.id }}" method="POST">
    <div>
        <label for="first_name">First name: </label>
        <input type="text" id="first_name" name="first_name" value="{{ player.first_name }}">
        <label for="last_name">Last name: </label>
        <input type="text" id="last_name" name="last_name" value="{{ player.last_name }}">
        <label for="email">E-mail address: </label>
        <input type="text" id="email" name="email" value="{{ player.email }}">
        <input type="submit" value="Update">
    </div>
</form>

<div class=spacer>

</div>

{% endblock %}