{% extends "base.html" %}

{% block content %}

<h2> Create a new Player</h2>
<a href="/players">Go Back</a>
<br>
<br>
<form action="/players" method="POST">
    <div>
        <label for="first_name">First name: </label>
        <input type="text" id="first_name" name="first_name" required>
        <label for="last_name">Last name: </label>
        <input type="text" id="last_name" name="last_name" required>
        <label for="email">E-mail address: </label>
        <input type="text" id="email" name="email" required>
        <input class=button type="submit" value="Create">
    </div>
</form>

<div class=spacer>

</div>

{% endblock %}