{% extends "base.html" %}

{% block content %}
<main id=show>
<a href="/players">Show all players</a>
<h2> {{ player.full_name() }} </h2>
<section id=playeredit>
    <h3>E-mail: {{ player.email }}</h3>

    <form action="/players/{{ player.id }}/edit">
        <input class=button type="submit" value="Edit">
    </form>
</section>
   
    <h4>Playing: </h4>


    <section class=gallery>


        {% for character in characters %}
            <section class=box>
                <ul>  
                    <li><div class=title>{{ character.name }} </div> the {{ character.race }} {{ character. archetype }},</li>
                    <li><div class=title> level {{ character.level }} </div> in the {{ character.party.name }}  party.</li>
                </ul>
                <div class=buttonbox>
                  <form action="/characters/{{ character.id }}">
                      <input type="submit" value="View Character">
                  </form>
                  <form action="/parties/{{ character.party.id }}">
                      <input type="submit" value="View Party">
                  </form>
                </div>
              </section>
        {% endfor %}
        {% if characters == [] %}
            <p>No characters/parties yet!</p>
        {% endif %}
    </section>
    <br>
    <br>
    <br>

    <h4>Delete Player?</h4>
    <p>Caution! This will remove all player details and associated Characters.</p>
    <form action="/players/{{ player.id }}/delete" method="POST">
        <label for="delete">Are you sure?</label>
        <input class=button type="submit" id="delete" name="delete" value="Yes! Delete All.">
    </form>
</main>

{% endblock %}