{% extends 'base.html' %}

{% block content %}
<main id=home>
    <hgroup id=welcome> 
        <h2>Welcome to</h2>
        <h1>Dungeons & Flagons</h1>
        <h3></h3>
        <p>"A Dungeons & Dragons game-manager designed for the ale-imbibing adventurer with a tendency to over-indulge..."</p>
    </hgroup>

    <section id=nextgames>
    <h4>Your next games:</h4>
    <ul>
        {% for party in parties %} 
        <li>"{{ party.name }}" next playing: {{ party.next_game }}</li> 
        {% endfor %}
    </ul>
    </section>
</main>
{% endblock %}