{% extends "base.html" %}

{% block content %}

<form action="/check", method="POST">
    <label for="party_id">Party Member in: </label>
    <select name="party_id" id="party_id">
        <!-- {% for party in parties %} -->
        <option value="{{ party }}">{{ party.name }}</option>
        <!-- {% endfor %} -->
    </select>
    <label for="player_id">Player Name: </label>
    <select name="player_id" id="player_id">
        <!-- {% for player in players %} -->
        <option value="{{ player }}">{{ player.full_name() }}    <option>
        <!-- {% endfor %} -->
    </select>
    <label for="name">Unique Character Name: </label>
    <input type="text" id="name" name="name">
    <input type="submit" value="check name">
</form>

{% endblock %}