{% extends "base.html" %}

{% block content %}
<h2>To create a new Character:</h2>
<form action="characters/check", method="POST">
    <label for="name">Enter a unique Character Name: </label>
    <input type="text" id="name" name="name">
    <input type="submit" value="Check Name Available">
</form>

{% with errors = get_flashed_messages() %}
  {% if errors %}
    <ul class=flashes>
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<h2>All Characters</h2>

{% for character in characters %}

<section>
    <p>Name: {{ character.name }}</p>
    <p>Race: {{ character.race }}</p>
    <p>Class: {{ character.archetype }}</p>
    <p>Level: {{ character.level}}</p>

    <form action="/characters/{{ character.id }}">
        <input type="submit" value="View">
    </form>
    <form action="/characters/{{ character.id }}/edit">
        <input type="submit" value="Edit">
    </form>
</section>

{% endfor %}

{% endblock %}
