{% extends "base.html" %}

{% block content %}

<form action="characters/check", method="POST">
    <label for="party_id">Party Member in: </label>
    <select name="party_id" id="party_id">
        {% for party in parties %}
        <option value="{{ party.id }}">{{ party.name }}</option>
        {% endfor %}
    </select>
    <label for="player_id">Player Name: </label>
    <select name="player_id" id="player_id">
        {% for player in players %}
        <option value="{{ player.id }}">{{ player.full_name() }}    <option>
        {% endfor %}
    </select>
    <label for="name">Unique Character Name: </label>
    <input type="text" id="name" name="name">
    <input type="submit" value="check name">
</form>


<h2>Characters</h2>
    
<!-- <form action="/characters/new">
    <input type="submit" value="Create New Player">
</form> -->


{% for character in characters %}

<section>
    <p>Name: {{ character.name }}</p>
    <p>Race: {{ character.race }}</p>
    <p>Class: {{ character.archetype }}</p>
    <p>Level: {{ character.level}}</p>

    <form action="/characters/{{ character.id }}">
        <input type="submit" value="View">
    </form>
    <form action="/characters/{{ character.id }}/edit">
        <input type="submit" value="Edit">
    </form>
</section>

{% endfor %}

{% endblock %}
