{% extends "base.html" %}

{% block content %}

<h2> Create a new Character</h2>
<a href="/characters">Go Back</a>
<br>
<br>
<form action="/characters" method="POST">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
        <label for="race">Race: </label>
        <input type="text" id="race" name="race">
        <label for="class">Class: </label>
        <input type="text" id="class" name="class">
        <label for="level">Level: </label>
        <input type="text" id="level" name="level">
        <br>
        <label for="armour">Armour: </label>
        <input type="text" id="armour" name="armour">
        <label for="weight">Weight: </label>
        <input type="text" id="weight" name="weight">
        <label for="perception">Passive Perception: </label>
        <input type="text" id="perception" name="perception">
        <label for="insight">Passive Insight: </label>
        <input type="text" id="insight" name="insight">
        <br>
        <label for="immunity">Resistances or Immunities: </label>
        <input type="text" id="immunity" name="immunity">
        <label for="vision">Vision Types: </label>
        <input type="text" id="vision" name="vision">
        <label for="languages">Languages: </label>
        <input type="text" id="languages" name="languages">
        <label for="aura">Abilities affecting Party: </label>
        <input type="text" id="aura" name="aura">
        <br>
        <label for="enmity">Enmities towards: </label>
        <input type="text" id="enmity" name="enmity">
        <label for="exhaustion">Exhaustion Level: </label>
        <input type="text" id="exhaustion" name="exhaustion">
        <br>
        <label for="party">Party Member in: </label>
        <input type="text" id="party" name="party">
        <label for="player">Player Name: </label>
        <input type="text" id="player" name="player">
    
        <input type="submit" value="Create">
    </div>
</form>

{% endblock %}